
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head>
</head>
<body>
    <section>
        <div class="form-container">
            <h1>Enter Roll NO </h1>
            <form id="f1" method="post">
                <div class="control">
                    <label for="name">RollNo</label>
                    <input type="number"  name="rollno" id="nm" >
                </div>


                <div class="control">
                    <input type="submit" value="Search">

                </div>
            </form>
            <div class="link">
                <a href="/Home/Index">Back</a>
            </div>


        </div>
    </section>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Open sans";
            color: #fff;
        }

        section {
            position: relative;
            height: 100vh;
            width: 100%;
            background: url("/Images/result2.jpg");
            background-size: cover;
        }

        .form-container {
            position: absolute;
            opacity: 2.5;
            border-radius: 25px;
            color:black;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: linear-gradient(rgba(0,0,0,0,3),(rgba(0,0,0,0,3)));
            width: 300px;
            padding: 50px 30px;
            box-shadow: 7px 7px 60px #000;
        }

        h1 {
            text-transform: uppercase;
            font-size: 2em;
            text-align: center;
            margin-bottom: 2em;
            color: black;
        }


        .control input {
            width: 100%;
            display: block;
            padding: none;
            color:black;
            text-decoration-color:black;
            outline: none;
            margin: 1em 0;
        }

            .control input[type="submit"] {
                background: crimson;
                color: #FFC0CB;
                text-transform: uppercase;
                font-size: 1.2em;
                opacity: .77;
                transition: opacity .3s ease;
            }

                .control input[type="submit"]:hover {
                    opacity: 1;
                }

        .link {
            text-align: center;
        }

            .link a {
                text-decoration: none;
                color: #fff;
                opacity: .6;
                transition: opacity .3s ease;
            }

                .link a:hover {
                    opacity: 1;
                }
    </style>

</body>

</html>